<div class="content">
  <div id="ele" class="row">
    <div class="col d-flex justify-content-center align-content-center" id="left-image" >
      <img draggable="false" src="./assets/undraw_playing_golf_6it7.svg" >
    </div>
    <div class="col">
    <div id="accuill" class="text-center">
      <div id="switched">
        <div class="row mt-3 mb-3">
          <button class="btn col">Réerver un départ</button>
        </div>
        <div class="row mt-3 mb-3">
          <button class="col btn">Créer un compte</button>
        </div>
      </div>



    </div>
    </div>
  </div>
</div>
