
<div class="content">
  <div id="ele" class="row">
    <div class="col d-flex justify-content-center align-content-center" id="left-image" >
      <img draggable="false" src="./assets/undraw_playing_golf_6it7.svg" >
    </div>
    <div class="col">
    <div id="step" class="d-flex ">
      <h1 class="btn ml-1 h1nameV1" [hidden]="listeCounter == 0 && reserverCounter == 0 " (click)="accueil()"><fa-icon  [icon]="faBackward"></fa-icon> Accueil</h1>
      <h1 class="h1nameV1" style="margin-left: 300px" [hidden]="reserverCounter == 0 || reserverCounter == 7 || reserverCounter==8 ">STEP {{reserverCounter}}/6</h1>
    </div>
     <div id="accuill" class="text-center">
      <div id="switched">
        <div id="page1" class="pl-5 pr-5" [hidden]="pagereserve != 0 || pagecreate != 0 || pageliste != 0 || editpage != 0 || editview != 0">
          <div class="row mt-3 mb-3" (click)="ReserverPage()">
            <button class="btn col">Réserver un départ</button>
          </div>
          <div class="row  mt-3 mb-3" (click)="CreerComptePage()" hidden>
            <button class="col btn">Créer un compte</button>
          </div>
          <div class="row  mt-3 mb-3" >
            <button class="col btn" (click)="ListePage()">Liste des départs</button>
          </div>
        </div>
        <div id="pageliste1"   [hidden]="pageliste != 1" >
          <div class="search" style="margin-left: 180px; margin-bottom: 10px" >

              <button>
                <svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="search">
                  <path d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9" stroke="currentColor" stroke-width="1.333" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </button>
              <input class="input" placeholder="Type your text" [(ngModel)]="SearchDate" required="" type="text">
              <button class="reset" type="reset">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
              </button>

          </div>

          <div class="row mb-5" style="height: 220px; overflow-y: auto">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">Licence</th>
                <th scope="col">Date</th>
                <th scope="col">Heure</th>
                <th scope="col">Parcour</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let reservation of reservations.reverse() | filter:SearchDate :'date'">
                <th scope="row">{{reservation.User_licence}}</th>
                <td>{{reservation.date}}</td>
                <td>{{reservation.heure}}</td>
                <td *ngIf="reservation.parcours == 1">Rouge | 18</td>
                <td *ngIf="reservation.parcours == 2">Bleu | 18</td>
                <td *ngIf="reservation.parcours == 3">Rouge | 9</td>
                <td *ngIf="reservation.parcours == 4">Bleu | 9</td>
                <td *ngIf="reservation.parcours == 5">Vert | 9</td>
                <td>
                  <button class="btn pl-1 pr-1" (click)="viewreservation(reservation)"><fa-icon   [icon]="faFile"></fa-icon></button>
                  <button class="btn pl-1 pr-1" (click)="editreservation(reservation)"><fa-icon  [icon]="faPenToSquare"></fa-icon></button>
                  <button class="btn pl-1 pr-1" [disabled]="getTimeDifference(reservation.heure,reservation.date)"><fa-icon   [icon]="faTrash"></fa-icon></button>
                </td>
              </tr>

              </tbody>
            </table>
          </div>


        </div>
        <div id="pageedit" [hidden]="editpage != 1">
          <div class="row mb-5" style="height: 220px; overflow-y: auto">
            <table class="table" *ngIf="editpage == 1">
              <tr >
                <th >Licence : </th>
                <td>{{selectedToEdit.User_licence}}</td>
              </tr>
              <tr >
                <th >Licence : </th>
                <td>{{selectedToEdit.User_licence}}</td>
              </tr>
            </table>
          </div>
        </div>
        <div id="pageview" [hidden]="editview != 1">
          <div class="row mb-5" style="height: 220px; overflow-y: auto">
            <table class="table" *ngIf="editview == 1">
              <tr >
                <th >Licence : </th>
                <td>{{selectedToEdit.User_licence}}</td>
              </tr>
              <tr >
                <th >Parcour : </th>
                <td *ngIf="selectedToEdit.parcours == 1">Rouge | 18</td>
                <td *ngIf="selectedToEdit.parcours == 2">Bleu | 18</td>
                <td *ngIf="selectedToEdit.parcours == 3">Rouge | 9</td>
                <td *ngIf="selectedToEdit.parcours == 4">Bleu | 9</td>
                <td *ngIf="selectedToEdit.parcours == 5">Vert | 9</td>
              </tr>
              <tr >
                <th >Date : </th>
                <td>{{selectedToEdit.date}}</td>
              </tr>
              <tr >
                <th >Heure : </th>
                <td>{{selectedToEdit.heure}}</td>
              </tr>
              <tr >
                <th >Caddie : </th>
                <td *ngIf="selectedToEdit.caddie == 0">Non</td>
                <td *ngIf="selectedToEdit.caddie == 1">Oui</td>
              </tr>
              <tr >
                <th >Vehicule : </th>
                <td *ngIf="selectedToEdit.vehicule == 0">Non</td>
                <td *ngIf="selectedToEdit.vehicule == 1">Oui</td>
              </tr>
              <tr >
                <th >Partenaire 1 : </th>
                <td *ngIf="selectedToEdit.partenaire_1 == 0">Non</td>
                <td *ngIf="selectedToEdit.partenaire_1 != 0">{{extractedData[selectedToEdit.partenaire_1]}}</td>
              </tr>
              <tr >
                <th >Partenaire 2 : </th>
                <td *ngIf="selectedToEdit.partenaire_2 == 0">Non</td>
                <td *ngIf="selectedToEdit.partenaire_2 != 0">{{extractedData[selectedToEdit.partenaire_2]}}</td>
              </tr>
              <tr >
                <th >Partenaire 1 : </th>
                <td *ngIf="selectedToEdit.partenaire_3 == 0">Non</td>
                <td *ngIf="selectedToEdit.partenaire_3 != 0">{{extractedData[selectedToEdit.partenaire_3]}}</td>
              </tr>

            </table>
          </div>
        </div>

        <div id="pagecreate1" class="pl-5 pr-5" [hidden]="pagecreate != 1">
          <div class="pagecreate1Form mt-3 mb-3 d-flex justify-content-center " style="width: 100%; border: 1px solid black">
            <button>
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
            </button>
            <input class="input" placeholder="Nom" required type="text">
            <button class="reset" type="reset">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
          </div>
          <div class="pagecreate1Form mt-3 mb-3 d-flex justify-content-center " style="width: 100%; border: 1px solid black">
            <button>
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
            </button>
            <input class="input" placeholder="Prenom" required type="text">
            <button class="reset" type="reset">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
          </div>

        </div>
        <div id="pagecreate2" class="pl-5 pr-5" [hidden]="pagecreate != 2">
          <div class="pagecreate1Form mt-3 mb-3 d-flex justify-content-center " style="width: 100%; border: 1px solid black">
            <button>
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>
            </button>
            <input class="input" placeholder="E-mail" required type="email">
            <button class="reset" type="reset">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
          </div>
          <div class="pagecreate1Form mt-3 mb-3 d-flex justify-content-center " style="width: 100%; border: 1px solid black">
            <button>
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/></svg>
            </button>
            <input class="input" placeholder="Téléphone mobile" required type="text">
            <button class="reset" type="reset">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
          </div>

        </div>
        <div id="pagecreate3" class="pl-5 pr-5" [hidden]="pagecreate != 3">
          <div class="pagecreate1Form mt-3 mb-3 d-flex justify-content-center " style="width: 100%; border: 1px solid black">
            <button>
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M336 352c97.2 0 176-78.8 176-176S433.2 0 336 0S160 78.8 160 176c0 18.7 2.9 36.8 8.3 53.7L7 391c-4.5 4.5-7 10.6-7 17v80c0 13.3 10.7 24 24 24h80c13.3 0 24-10.7 24-24V448h40c13.3 0 24-10.7 24-24V384h40c6.4 0 12.5-2.5 17-7l33.3-33.3c16.9 5.4 35 8.3 53.7 8.3zM376 96a40 40 0 1 1 0 80 40 40 0 1 1 0-80z"/></svg>
            </button>
            <input class="input" placeholder="Password" required type="password">
            <button class="reset" type="reset">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
          </div>
          <div class="pagecreate1Form mt-3 mb-3 d-flex justify-content-center " style="width: 100%; border: 1px solid black">
            <button>
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M336 352c97.2 0 176-78.8 176-176S433.2 0 336 0S160 78.8 160 176c0 18.7 2.9 36.8 8.3 53.7L7 391c-4.5 4.5-7 10.6-7 17v80c0 13.3 10.7 24 24 24h80c13.3 0 24-10.7 24-24V448h40c13.3 0 24-10.7 24-24V384h40c6.4 0 12.5-2.5 17-7l33.3-33.3c16.9 5.4 35 8.3 53.7 8.3zM376 96a40 40 0 1 1 0 80 40 40 0 1 1 0-80z"/></svg>
            </button>
            <input class="input" placeholder="Confirm Password" required type="password">
            <button class="reset" type="reset">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
          </div>
          <div class="d-flex justify-content-center">
            <button class="btn btn-success pl-3 pr-3 pt-2 pb-2">Créer un compte</button>
          </div>

        </div>
        <div id="pagereserve1" class="pb-5" [hidden]="pagereserve != 1">
          <h1 id="par" class="mb-4 ">Parcours</h1>
          <div class="containerr">
            <div class="radio-tile-group">
              <div class="input-container" id="rouge" (click)="setparcourname('Rouge')">
                <input id="walk" class="radio-button" type="radio" name="radio-10" [checked]="parcourname == 'Rouge'">
                <div class="radio-tile">
                  <label  class="radio-tile-label">Rouge</label>
                </div>
              </div>
              <div class="input-container" id="bleu" (click)="setparcourname('Bleu')">
                <input id="bike" class="radio-button" type="radio" name="radio-10">
                <div class="radio-tile">
                  <label  class="radio-tile-label">Bleu</label>
                </div>
              </div>

              <div class="input-container" id="vert" (click)="setparcourname('Vert')">
                <input id="drive" class="radio-button" type="radio" name="radio-10">
                <div class="radio-tile">
                  <label  class="radio-tile-label">Vert</label>
                </div>
              </div>
            </div>
          </div>
          <div class="radio-input d-flex justify-content-center">
            <div (click)="setparcourTrou(9)">
              <input type="radio" id="value-1" name="value-radio-1" value="value-1" >
              <label for="value-1">9 trous</label>
            </div>
            <div (click)="setparcourTrou(18)" [hidden]="parcourname == 'Vert'" >
              <input type="radio" id="value-2" name="value-radio-1" value="value-2" [checked]="parcourtrou == 18">
              <label for="value-2">18 trous</label>
            </div>

          </div>

        </div>
        <div id="pagereserve2" class="pl-5 pr-5" [hidden]="pagereserve != 2">
          <div class="pagecreate1Form mt-3 mb-3 d-flex justify-content-center " style="width: 100%; border: 1px solid black">
            <button>
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
            </button>
            <input class="input" placeholder="Licence" required type="number" [(ngModel)]="licence">
            <button class="reset" type="reset">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
          </div>
          <div *ngIf="extractedData.hasOwnProperty(licence)" style="width: 100%;height: 50px">
            <h1 class="h1name">{{extractedData[licence]}}</h1>
          </div>

        </div>
        <div id="pagereserve3" class="pl-5 pr-5" [hidden]="pagereserve != 3" style="width: 100%">

              <div class="text-center" style="width: 100%">
<!--                <mat-card class="demo-inline-calendar-card" >-->
<!--                  <mat-calendar  [(selected)]="selected"></mat-calendar>-->
<!--                </mat-card>-->
                <mat-form-field class="">
                  <input matInput  [matDatepicker]="picker"   [min]="minDate" placeholder="Choose a date" [(ngModel)]="selected" [matDatepickerFilter]="dateFilter">
                  <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker  ></mat-datepicker>
                </mat-form-field>

<!--                <h3 class="error" *ngIf="dateexict">{{extractedData[licence]}} avait une réservation à cette date.</h3>-->

              </div>

        </div>
        <div  [hidden]="pagereserve != 4" style="width: 100%;" >
          <div class="d-flex justify-content-center  ml-3 pl-4 "  style="width: 100%;">
            <div id="time"   style="width: 400px;">
              <div class="radio-input text-center" style="width: 80%">
                <label style="width: 200px;" (click)="heure(1)">
                  <input type="radio" style="width: 100px" name="value-radio-100" value="value-1" >
                  <span>Tout</span>
                </label>
                <label style="width: 200px;" (click)="heure(2)">
                  <input type="radio"  name="value-radio-100" value="value-2">
                  <span>Matin</span>
                </label>
                <label style="width: 200px;" (click)="heure(3)">
                  <input type="radio"  name="value-radio-100" value="value-3">
                  <span>Midi</span>
                </label>
                <label style="width: 200px;" (click)="heure(4)">
                  <input type="radio"  name="value-radio-100" value="value-4">
                  <span>Ap.midi</span>
                </label>
                <span class="selection"></span>
              </div>
            </div>

          </div>

        </div>
        <div id="pagereserve4" [hidden]="pagereserve != 4" style="height: 220px;  overflow-y: auto; width: 100%;">

          <div  class="radio-inputs  mw-100"  >
            <div  style="width: 100%">
              <label *ngFor="let time of timeValues" class="text-center" (click)="setheure(time)">
                <input class='radio-input' type="radio" name="heure" [checked]="time == heureselected">
                <span class="radio-tile">
					     <span class="radio-label ">
                <span style="font-size: 25px; font-weight: bolder">{{time.split(":")[0]}}</span><br>
               <span style="font-size: 25px; font-weight: bolder">{{time.split(":")[1]}}</span>
              </span>
				      </span>
              </label>
            </div>

          </div>
        </div>
        <div id="pagereserve5" [hidden]="pagereserve != 5" style="width: 100%;">
          <div style="width: 100%" class="d-flex justify-content-center">
            <div class="container">
              <div class="radio-tile-group">
                <div class="input-container" (click)="addCaddie()" style="height: 100px; width: 100px" >
                  <input  class="radio-button" type="radio" [checked]="caddie">
                  <div class="radio-tile">
                    <div class="icon walk-icon">

                    </div>
                    <label  class="radio-tile-label">
                      <img src="./assets/golf-caddy%20(1).png" style="max-width: 100%; max-height: 100%;">
                    </label>
                  </div>
                </div>

                <div class="input-container" (click)="addCar()" style="height: 100px; width: 100px">
                  <input  class="radio-button " type="radio" [checked]="car" >
                  <div class="radio-tile">
                    <label  class="radio-tile-label ">
                      <img src="./assets/golf-cart.png" style="max-width: 100%; max-height: 100%;">

                    </label>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
        <div id="pagereserve6"   [hidden]="pagereserve != 6" >
        <p id='partenaires-p' class="w-100 text-center">Si vous le souhaitez choissisez un ou plusieur partenaires de jeux (max 3)</p>
          <div class="row mb-5" style="height: 210px; overflow-y: auto">
            <table class="table ">
              <thead>
              <tr>
                <th scope="col" ></th>
                <th scope="col">licence</th>
                <th scope="col">Nom et Prénom</th>
                <th scope="col">index</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let user of users.reverse()">
                <td class="d-flex justify-content-center text-center" *ngIf="user.licence != licence">
                  <label class="container mw-100" >
                    <input  type="checkbox" [checked]="userselected.includes(user.licence)" (click)="addpartenaire(user.licence)" [disabled]="nbpartenaire == 3 && !userselected.includes(user.licence)">
                    <div class="checkmark"></div>
                  </label>
                </td>
                <td *ngIf="user.licence != licence">{{user.licence}}</td>
                <td *ngIf="user.licence != licence">{{user.nom}}</td>
                <td *ngIf="user.licence != licence">{{user.user_index}}</td>
              </tr>
              </tbody>
            </table>
          </div>


        </div>
        <div id="pagereserve7" [hidden]="pagereserve != 7">
          <h1 class="h1valider">Vous voulez réserver une partie de {{userselected.length+1}} personnes</h1>
          <button class="btn btn-success p-3" (click)="valider()">Valider</button>
        </div>
        <div id="pagereserve8" [hidden]="pagereserve != 8">
          <div style="width: 100%; height: 100%">
            <img src="./assets/checked-svgrepo-com.svg" style="width: 350px; height: 180px">
          </div>
          <button class="btn btn-success p-3 mt-2" (click)="accueil()">Page d'accueil</button>
        </div>
      </div>
     </div>

      <div  class="d-flex justify-content-between align-items-end" style="height: 100%" >
        <button class="btn ml-5 mb-2" [hidden]="(reserverCounter==0 && creerCounter==0 ) || pagereserve == 8" [disabled]="reserverCounter==0 && creerCounter == 0 && listeCounter==0" (click)="back()"><h1><fa-icon   [icon]="faChevronLeft"></fa-icon></h1></button>
        <button class="btn mr-5 mb-2" [hidden]="(reserverCounter==0 && creerCounter==0 ) || pagereserve == 8"
                [disabled]="(reserverCounter == 0 && creerCounter == 0 && listeCounter==0) ||
                            (parcourname == 'Vert' && parcourtrou == 18) ||
                             reserverCounter == 7 ||
                             creerCounter == 3 ||
                             listeCounter == 1 ||
                             (pagereserve == 2 && !extractedData.hasOwnProperty(licence)) ||
                             (pagereserve == 3 && selected == null) ||
                             (pagereserve == 4 && heureselected == '') ||
                             dateexict"
                (click)="next()">
          <h1>
            <fa-icon  [icon]="faChevronRight"></fa-icon>
          </h1>
        </button>
      </div>
    </div>
  </div>
</div>



