<div class="content d-flex justify-content-center " >
  <div id="pagereserve1" class="col-6 d-flex flex-column justify-content-center align-items-center">

    <div [hidden]="login != 0 && login != -1"   >
      <img  draggable="false" src="./assets/undraw_playing_golf_6it7.svg" >
    </div>

    <div class="containerr " [hidden]="login == 0 || login == -1 || accuilpageshow == 1">
      <div class="radio-tile-group">
        <div class="input-container" id="rouge" (click)="setparcourname('Rouge')">
          <input id="walk" class="radio-button" type="radio" name="radio-10" [checked]="parcourname == 'Rouge'">
          <div class="radio-tile">
            <label  class="radio-tile-label">Rouge</label>
          </div>
        </div>
        <div class="input-container" id="bleu" (click)="setparcourname('Bleu')">
          <input id="bike" class="radio-button" type="radio" name="radio-10">
          <div class="radio-tile">
            <label  class="radio-tile-label">Bleu</label>
          </div>
        </div>

        <div class="input-container" id="vert" (click)="setparcourname('Vert')">
          <input id="drive" class="radio-button" type="radio" name="radio-10">
          <div class="radio-tile">
            <label  class="radio-tile-label">Vert</label>
          </div>
        </div>
      </div>
    </div>
    <div class="" [hidden]="login == 0 || login == -1 || accuilpageshow == 1">

      <mat-form-field appearance="fill" >
        <mat-label >Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker" [min]="minDate" [dateFilter]="dateFilter">
          <input  matStartDate placeholder="Start date" [(ngModel)]="startdate" >
          <input  matEndDate placeholder="End date" [(ngModel)]="enddate" >
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
        <mat-date-range-picker #picker ></mat-date-range-picker>
      </mat-form-field>

    </div>

  </div>

  <div id="date" class="col-6 " style="height: 100%">
    <div class="d-flex justify-content-center align-items-center"  style="height: 100%">
      <div id="" class="d-flex step" >
        <h1 [hidden]="login == 0 || login == -1 || accuilpageshow == 1" class="btn ml-1 h1nameV1"  (click)="accueil()"><fa-icon  [icon]="faBackwardg"></fa-icon> Accueil</h1>
      </div>
      <textarea [hidden]="login == 0 || login == -1 || accuilpageshow == 1" placeholder="Type your Message Here...."  rows="7" cols="40" required [(ngModel)]="message"></textarea>

      <div id="pagelogin" class="pl-5 pr-5" [hidden]="login !=0 || accuilpageshow == 1">
        <form class="form card">
          <div class="card_header">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
              <path fill="none" d="M0 0h24v24H0z"></path>
              <path fill="currentColor" d="M4 15h2v5h12V4H6v5H4V3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6zm6-4V8l5 4-5 4v-3H2v-2h8z"></path>
            </svg>
            <h1 class="form_heading">Sign in</h1>
          </div>
          <div class="field">
            <label for="username">Username</label>
            <input class="input" name="username" type="text" placeholder="Username" id="username" [(ngModel)]="username">
          </div>
          <div class="field">
            <label for="password">Password</label>
            <input class="input" name="user_password" type="password" placeholder="Password" id="password" [(ngModel)]="password">
          </div>
          <span (click)="resetPassword()"><a class="btn" style="color: darkcyan"> Forgot your Password?</a></span>
          <span style="color: red; font-size: 20px">{{this.errorMessage}}</span>
          <div class="field">
            <button class="button" (click)="loginuser()">Login</button>
          </div>
        </form>
      </div>
      <div class="pl-5 pr-5" [hidden]="login !=-1 || accuilpageshow == 1">
        <div class="coolinput">
          <label for="input" class="text">Email:</label>
          <input type="text" placeholder="Write here..." name="input" class="input" [(ngModel)]="emailtosend">
        </div>
        <div>
          <button id="sendVerification" (click)="send()" class="btn btn-success">Envoyer</button>
        </div>
      </div>
      <div id="page1" class="pl-5 pr-5" [hidden]="accuilpageshow != 1 || sum == 1">
        <div class="row mt-3 mb-3" >
          <button class="btn col" (click)="reserver()">Réserver un départ</button>
        </div>

        <div class="row  mt-3 mb-3" >
          <button class="col btn" (click)="getsummary()">Summary</button>
        </div>
      </div>
      <div id="pageliste1"   [hidden]="sum != 1" >
        <div id="" class="d-flex step">
          <h1 class="btn ml-1 h1nameV1"  (click)="accueil()"><fa-icon  [icon]="faBackwardg"></fa-icon> Accueil</h1>
        </div>
        <div class="row mb-5" style="height: 340px; overflow-y: auto">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Licence</th>
              <th scope="col">Reservation</th>
              <th scope="col">Reservation Annulée</th>

            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let a of alldata" class="text-center">
                  <th scope="row">{{a.name}}</th>
                  <td>{{a.licence}}</td>
                  <td>{{a.numberreserve}}</td>
                  <td>{{a.cancelled}}</td>
                </tr>

            </tbody>
          </table>
        </div>


      </div>

    </div>

  </div>



</div>
<button [hidden]="login == 0 || login == -1" id="validerbtn" class="btn btn-success p-3" [disabled]="startdate == null || enddate == null || message == null || message== '' " (click)="valider()" >Valider</button>
