body {
  background-image: url('assets/3.jpg'); /* Replace 'image.jpg' with the actual file name and extension */
  background-size: cover; /* Adjust the background size as needed */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: calc(50% - 50vw) 50%;

}

